.Comment{
    padding: 15px 0;
    margin: 10px;
    border-bottom: 1px dashed #5cd8fd;
    position: relative;
}

.Comment-editBtn{
   margin-left: 5px;
}

.Comment:first-child{
    border-top: 1px dashed #5cd8fd;
}

.Comment-author {
    color: #5cd8fd;
}

.Comment-author, .Comment-score{
    line-height: 1.6;
    position: relative;
}

.Comment-actions {
    position: absolute;
    right: 5px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}