.Post{
    border: 2px solid #61dafb;
    border-radius: 4px;
    padding: 12px;
    margin-bottom: 15px;
    text-align: left;
    position: relative;
}

.Post-category{
    position: absolute;
    top: 0;
    right: 0;
    background: #61dafb;
    padding: 5px;
    color: #fff;
    font-weight: bold;
}

.Post-score{

}