.Post{
    border: 2px solid #61dafb;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 15px;
    text-align: left;
    position: relative;
    display: flex;
}
.Post-score {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 5px;
    padding-right: 15px;
}

.Post-category{
    position: absolute;
    top: 0;
    right: 0;
    background: #61dafb;
    padding: 5px;
    color: #fff;
    font-weight: bold;
}

.Post-vote{
    padding: 3px 10px;
    border-radius: 5px;
    background: #61dafb;
}

.Post-editBtn{
    height: 21px;
    position: absolute;
    right: 6px;
    bottom: 6px;
}