.PostDetail {
    text-align: left;
    padding: 30px;
    margin-right: 30px;
}

.PostDetail-comments {
    margin: 20px 0;
    max-width: 500px;
}

.Post-author {
    color: #5cd8fd;
}

.Post-author, .Post-body{
    margin: 5px 0;
}

.Post-header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Post-actions {
    padding: 30px 0;
    border-bottom: 1px solid black;
}

.PostDetail-editBtn {
    margin-right: 10px;
}