.Feed-sort a {
    background: #61dafb;
    margin: 0 5px;
    padding: 1px 3px;
}

.Feed-sort {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #61dafb;
    border-radius: 4px;
    margin-right: 20px;
}

.Feed-sorting-area {
    display: flex;
}